<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Toyota</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>

<body>
  <form class="ui form">
    <div class="field">
      <div class="ui breadcrumb" wfd-id="61">
        <a class="section" th:href="@{/}">Toyota</a>
        <i class="right angle icon divider"></i>
        <a class="section" th:href="@{'/model/' + ${car.id}}"><span th:text="${car.modelName}"></span></a>
        <i class="right angle icon divider"></i>
        <a class="section" th:href="@{'/model/' + ${car.id} + '/body/' + ${body.id}}"><span th:text="${body.bodyName}"></span></a>
        <i class="right angle icon divider"></i>
        <a class="section" th:href="@{'/model/' + ${car.id} + '/body/' + ${body.id} + '/equipment/' + ${equipment.id}}"><span th:text="${equipment.equipmentName}"></span></a>
        <i class="right angle icon divider"></i>
        <div class="active section" wfd-id="62"><span th:text="${component.componentName}"></span></div>
      </div>
    </div>
    <div class="field">
      <label><span th:text="${component.subgroupComp.groupComp.groupName}"></span> на <span th:text="${car.modelName}"></span> <span th:text="${body.bodyName}"></span></label>
      <th:block th:if="${#lists.size(units)} > 0">
        <table class="ui celled table">
          <thead>
          <tr>
            <th>№</th>
            <th>PNC# (SUB)</th>
            <th>OEM номер запчасти</th>
            <th>Кол-во на 1 машину</th>
            <th>Период производства</th>
            <th>Применимость для комплектаций</th>
            <th>Под заказ</th>
            <th>В наличии</th>
          </tr>
          </thead>
          <tbody>
          <th:block th:each="unit, state : ${units}">
            <tr>
              <td><div th:text="${state.index + 1}"></div></td>
              <td><div th:text="${unit.pnc}"></div></td>
              <td><div th:text="${unit.oem}"></div></td>
              <td><div th:text="${unit.countForAuto}"></div></td>
              <td><div th:text="${unit.period}"></div></td>
              <td><div th:text="${unit.applicability}"></div></td>
              <td><a th:href="@{${unit.inorderLink}}"><div th:text="${unit.inorder}"></div></a></td>
              <td><a th:href="@{${unit.instockLink}}"><div th:text="${unit.instock}"></div></a></td>
            </tr>
          </th:block>
          </tbody>
        </table>
      </th:block>
      <th:block th:if="${#lists.size(units)} == 0">
        <div class="ui floating message" wfd-id="85">
          <p>Нет данных в базе</p>
        </div>
      </th:block>
    </div>
  </form>
</body>
</html>
